*{
    margin: 0;
    padding: 0;
    font-family: lato;

}
.banner{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.65)),url('./imageMP.jpg');
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li button{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: transparent;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #A8DFF1;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}
.btn{
    background: #A8DFF1;
    color: #000000;
    border: 2px solid #A8DFF1;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.5s linear;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
}
.btn:hover{
    color :#ffffff
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #24AFC1;
    z-index: -1;
    transition: transform 0.9s;
    transform-origin: 0.5s;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform: scaleX(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}